* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*COMIENZA EL HEADER*/

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    /*background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);*/
    background-color: #050505;
    height: 8rem;
    width: 100%;
}

.logo {
    max-width: 8rem;
    transition: transform 0.5s ease-in-out;
}

.logo:hover {
    transform: scale(1.3);
}

.nav-list-c {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}


/*      teléfonos apaisados (576px)
        tabletas (768px)
        portátiles (992px)
        pantallas de escritorio extra grandes (1200px)
*/


/*REGLA PARA PANTALLAS MAYORES A 640 PIXELES*/

@media (min-width: 641px) {
    .nav-header ul li a:hover {
        color: #1c1c1c;
        border-radius: 4px;
        background-color: #FCCF31;
        box-shadow: -3px 5px 14px 1px rgba(0, 0, 0, 0.73);
    }
    .nav-list-c li {
        display: flex;
        /* Usar flexbox para alinear verticalmente */
        align-items: center;
        /* Centrar verticalmente los elementos */
        text-decoration: none;
        white-space: nowrap;
        color: #FCCF31;
        background-color: #545454;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        text-align: center;
    }
    .nav-list-c li a {
        text-decoration: none;
        color: #FCCF31;
        padding: 10px;
    }
}


/*PANTALLAS MENORES A 640 PIXELES*/

@media (max-width: 640px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
        margin-right: 30px;
    }
    .abrir-menu {
        /*color: #1c1c1c;*/
        color: #FCCF31;
    }
    .cerrar-menu {
        color: #ececec;
    }
    .abrir-menu:hover {
        color: #050505;
        background-color: #FCCF31;
        border-radius: 4px;
        padding: 0 2px 0 2px;
    }
    .cerrar-menu:hover {
        color: #050505;
        background-color: #FCCF31;
        border-radius: 4px;
        padding: 0 2px 0 2px;
    }
    .nav-header {
        font-size: 18px;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: -25px;
        left: 50%;
        right: 0;
        bottom: 0;
        background-color: #343434;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
        z-index: 1;
    }
    .nav-header.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list-c {
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: end;
        align-items: end;
        padding: 0;
        margin: 0;
    }
    .nav-header button {
        margin-top: 40px;
        margin-right: 15px;
    }
    .nav-list-c li {
        color: aliceblue;
        text-decoration: none;
    }
    .nav-list-c li a {
        color: aliceblue;
        text-decoration: none;
    }
    header {
        justify-content: space-between;
    }
    header img {
        width: 200px;
    }
    .nav-list-c li a:hover {
        color: #050505;
        background-color: #FCCF31;
        border-radius: 4px;
        padding: 5px;
    }
}


/*FIN DE HEADER*/


/*FOOTER*/

footer {
    height: auto;
    margin-bottom: 0;
    padding: 5vh;
    bottom: 0;
    background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
    text-align: center;
}

#footer-main {
    background-color: #f8f8f8;
    border: solid 1px #333;
    padding: 60px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
}

.footer-1 {
    background-image: linear-gradient( 135deg, #FCCF31 5%, #F55555 100%);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.65);
    color: #050505;
}

.footer-2 {
    background-image: linear-gradient( 135deg, #FCCF31 5%, #F55555 100%);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.65);
    color: #050505;
}

.footer-3 {
    background-image: linear-gradient( 135deg, #FCCF31 5%, #F55555 100%);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.65);
    color: #050505;
}

.footer-3 iframe {
    width: 100%;
}

section {
    color: #fff;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 80px 0;
}

h4 {
    font-weight: bold;
    font-size: 1.2rem;
}

.footer p {
    text-align: left;
}

.copy {
    padding-top: 10px;
    text-align: center;
}

footer img {
    padding: 5px;
    width: 3rem;
}

footer img:hover {
    transform: scale(1.3);
}